apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage
spec:
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      volumes:
        - name: github-app
          secret:
            secretName: backstage
      containers:
        - name: backstage
          image: ghcr.io/third-place/backstage:v0.1.10
          imagePullPolicy: Always
          ports:
            - containerPort: 7007
              name: http
              protocol: TCP
          volumeMounts:
            - name: github-app
              mountPath: "/var/github-app"
              readOnly: true
#          lifecycle:
#            postStart:
#              exec:
#                command:
#                  - /bin/sh
#                  - -c
#                  - cp /var/github-app/github-app /app
          env:
            - name: APP_CONFIG_app_baseUrl
              value: https://backstage.thirdplaceapp.com
            - name: APP_CONFIG_backend_baseUrl
              value: https://backstage.thirdplaceapp.com
            - name: GITHUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: backstage
                  key: github_token
            - name: APP_CONFIG_backend_database_connection_host
              valueFrom:
                secretKeyRef:
                  name: postgres-backstage
                  key: host
            - name: APP_CONFIG_backend_database_connection_port
              valueFrom:
                secretKeyRef:
                  name: postgres-backstage
                  key: port
            - name: APP_CONFIG_backend_database_connection_user
              valueFrom:
                secretKeyRef:
                  name: postgres-backstage
                  key: user
            - name: APP_CONFIG_backend_database_connection_password
              valueFrom:
                secretKeyRef:
                  name: postgres-backstage
                  key: password
      imagePullSecrets:
        - name: postgres-backstage
        - name: backstage
