apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage
spec:
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      containers:
        - name: backstage
          image: ghcr.io/third-place/backstage:v0.1.7
          imagePullPolicy: Always
          ports:
            - containerPort: 7007
              name: http
              protocol: TCP
          env:
            - name: APP_CONFIG_app_baseUrl
              value: https://backstage.thirdplaceapp.com
            - name: APP_CONFIG_backend_baseUrl
              value: https://backstage.thirdplaceapp.com
            - name: APP_CONFIG_backend_database_connection_host
              valueFrom:
                secretKeyRef:
                  name: postgres-backstage
                  key: host
            - name: APP_CONFIG_backend_database_connection_port
              valueFrom:
                secretKeyRef:
                  name: postgres-backstage
                  key: port
            - name: APP_CONFIG_backend_database_connection_user
              valueFrom:
                secretKeyRef:
                  name: postgres-backstage
                  key: user
            - name: APP_CONFIG_backend_database_connection_password
              valueFrom:
                secretKeyRef:
                  name: postgres-backstage
                  key: password
      imagePullSecrets:
        - name: postgres-backstage
        - name: backstage
