on:
  push:
    branches: [main]
jobs:
  publish-docker-image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - run: |
          yarn install --frozen-lockfile
          yarn tsc
          yarn build:backend
      - run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
      - run: DOCKER_BUILDKIT=1 docker build . -f packages/backend/Dockerfile --tag ghcr.io/${{ github.repository }}:${{ github.sha }}
      - run: docker push ghcr.io/${{ github.repository }}:${{ github.sha }}
  deploy-service:
    uses: third-place/actions/.github/workflows/deploy-env.yaml@main
    needs: publish-docker-image
    with:
      service_name: backstage
      env: dev
    secrets:
      PAT: ${{ secrets.CR_PAT }}
